body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
  }

  .invoice-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .header {
    text-align: center;
    margin-bottom: 20px;
  }

  .logo {
    max-width: 20%;
    height: auto;
  }
.bill{
display: flex;
}
.to{
  margin-left: 5%;
}
  .bill-details,
  .service-details,
  .total-details,
  .payment-details {
    margin-top: 20px;
  }
span{
margin-left: 5%;
}
.amt, .qty{
margin-left: 20%;
}
.amount{
position: relative;
left: 50%;
}
  .print-button {
    text-align: center;
    margin-top: 20px;
  }
  @media print {
input, option, select {
  border: none;
}
button{
  display: none;
}
}
@media screen and (orientation:portrait) {
.bill{
  display: inline-block;
}
}